@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Oswald|Patua+One|Quicksand|Raleway|Shadows+Into+Light');

body {
    background-color: #c3d5f4;
}
.App {
    width: 80%;
    margin: auto;
}

.header {
    font-family: 'Raleway', sans-serif;
    line-height: 28px;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}
.header h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 62px;
    width: fit-content;
    margin: 10px auto;
    padding: 30px;
    font-weight: 400;
}

.form {
    font-family: 'Quicksand', sans-serif;
    width: fit-content;
    margin: auto;
}

.form-text {
    display: block;
    margin: 20px auto;
    height: 300px;
    width: 700px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    padding: 25px;
    border: none;
}


.form-button {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    display: block;
    margin: 20px auto;
    padding: 15px 25px;
    border-radius: 30px;
    width: fit-content;
    border: none;
    background-color: #e1eaf9;
    transition: all 0.2s ease-in-out;
}
.form-button:hover {
    background-color: #a5c0ef;
    transition: all 0.2s ease-in-out;
}
.form-button:active {
    background-color: #6996e5;
}

.footer {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
}

.output {
    display: block;
    width:fit-content;
    margin: auto;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    font-size: 22px;
}
.output-table td{
    padding: 10px;
}
.github {
    width: fit-content;
    position: fixed;
    top: 20px;
    left: 20px;
}
.github img{
    height: 50px;
    width: auto;
}